@import url(./index.css);

:root {
    --fg-dark: #2d343a;
    --fg-normal: #3e4950;
    --fg-light: #6e88a3;
    --white: white;

    --padding-size: calc((1.3 + 0.8 + 1 + 0.5) * 0.8 * 1.5rem);
}

html {
    background: #282828;

    font-family: 'Commissioner';
    font-size: 32px;
}

body {
    width: 2480px;
    background: var(--white);
    color: var(--fg-dark);
    box-shadow: black 5px 5px 1rem;
    margin: 25px auto;

    display: grid;
    grid-template-columns: 900px auto;
    grid-auto-rows: fit-content;
    grid-auto-flow: row dense;
}

header {
    background: var(--fg-dark);
    color: var(--white);
    text-align: center;

    padding: 110px 215px;
    height: fit-content;
}

aside {
    grid-column: 1;
    grid-row: span 2;

    background: var(--fg-normal);
    color: var(--white);

    padding: 50px 100px;
}

section {
    margin-bottom: 100px;
}

main {
    grid-row: span 2;

    padding: 110px 100px 50px 150px;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2:not(.whois),
h3 {
    text-transform: uppercase;
}

[class*="fa-"]::before {
    display: inline-block;
    border-radius: 100%;
    text-align: center;
    font-family: var(--fa-style-family-classic);

    width: 1.3em;
    height: 1.3em;
    line-height: 1.3;
    font-size: 0.8em;
    padding: 0.8em;
    margin-right: 0.5em;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.1em;
}

h2[class*="fa-"]::before {
    color: var(--white);
    background-color: var(--fg-dark);
}

.whois {
    font-weight: normal;
}

main.h2 {
    font-size: 1.875rem;
}

aside {
    font-size: 1.125rem;
}

ul {
    padding-left: var(--padding-size);
    margin: 0;
    list-style: none;
    margin: 2em 0 5em;
}

li {
    margin-bottom: 1.5em;
    position: relative;
}

.with-progress li {
    margin-bottom: 3em;
}

li[class*="fa-"]::before {
    position: absolute;
    top: 50%;
    left: calc(-1 * var(--padding-size));
    transform: translate(15%, -50%);
}

aside li[class*="fa-"]::before {
    color: var(--fg-dark);
    background-color: var(--white);
}

progress {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1.5em;
    width: 100%;

    -webkit-appearance: none;
    appearance: none;
    height: 0.625rem;
    border-radius: 1em;
    overflow: hidden;
}

progress::-webkit-progress-bar {
    background: var(--white);
}

progress::-webkit-progress-value {
    background-color: var(--fg-light);
    border-radius: 1em;
}

.photo {
    border-radius: 100%;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: 0 0;
}

.exp_part {
    padding-left: var(--padding-size);
}

h3 {
    margin-bottom: 0.5em;
}

h3~p {
    margin: 0.5em 0;
}

.subtitles {
    width: 100%;
    display: flex;
}

.subtitles>* {
    flex: 1 1 100%;
}

.subtitles [class*="fa-"]::before, .langs [class*="fa-"]::before {
    padding: 0;
}

[data-what] {
    position: relative;
}

[data-what]::before {
    content: attr(data-what) ":";
    font-weight: bold;
    margin-right: 0.5em;
}

.langs {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    gap: 1em;
}

.langs>* {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    /* width: 20%; */
}
.langs>* span:first-child {
    background-color: var(--fg-light);
    color: var(--white);
    padding: 0.25em;
    border-radius: 0.25em;
}


@media print {
    #change_lang {
        display: none;
    }

    /* styles to expand background to all page */
    body {
        margin: 0;
        min-height: 100%;
    }
}