@import url(./index.css);

@font-face {
    font-family: 'Commissioner';
    src: url('/source/fonts/Commissioner/Commissioner-VariableFont_wght.ttf') format('truetype');
}

:root {
    --fg-dark: #2d343a;
    --fg-normal: #3e4950;
    --fg-light: #6e88a3;
    --white: white;
}

html {
    background: #282828;

    font-family: 'Commissioner';
    font-size: 32px;
}

body {
    width: 2480px;
    background: var(--white);
    color: var(--fg-dark);
    box-shadow: black 5px 5px 1rem;
    margin: 25px auto;

    display: grid;
    grid-template-columns: 900px auto;
    grid-auto-rows: fit-content;
    grid-auto-flow: row dense;
}

header {
    background: var(--fg-dark);
    color: var(--white);
    text-align: center;

    padding: 110px 215px;
    height: fit-content;
}

aside {
    grid-column: 1;
    grid-row: span 2;

    background: var(--fg-normal);
    color: var(--white);

    padding: 50px 100px;
}

aside>section {
    margin-bottom: 100px;
}

main {
    grid-row: span 2;

    padding: 110px 100px 50px 150px;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2:not(.whois),
h3 {
    text-transform: uppercase;
}

[class*="fa-"]::before {
    display: inline-block;
    border-radius: 100%;
    text-align: center;
    font-family: var(--fa-style-family-classic);

    width: 1.3em;
    height: 1.3em;
    line-height: 1.3;
    font-size: 0.8em;
    padding: 0.8em;
    margin-right: 0.5em;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.5rem;
}

h2[class*="fa-"]::before {
    color: var(--white);
    background-color: var(--fg-dark);
}

.whois {
    font-weight: normal;
}

main.h2 {
    font-size: 1.875rem;
}

aside {
    font-size: 1.125rem;
}

ul {
    --padding-size: calc((1.3 + 0.8 + 1 + 0.5) * 0.8 * 1.5rem);
    padding-left: var(--padding-size);
    margin: 0;
    list-style: none;
    margin: 2em 0 5em;
}

li {
    /* --margin-size: calc(( 1.3 / 2 + 0.8 / 2 ) * 0.3 * 1.5rem); */
    margin-bottom: 3em;
    position: relative;
}

li[class*="fa-"]::before {
    position: absolute;
    top: 50%;
    left: calc(-1 * var(--padding-size));
    transform: translate(15%, -50%);

    color: var(--fg-dark);
    background-color: var(--white);
}

progress {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1.5em;
    width: 100%;

    -webkit-appearance: none;
    appearance: none;
    height: 0.625rem;
    border-radius: 1em;
    overflow: hidden;
}

progress::-webkit-progress-bar {
    background: var(--white);
}
progress::-webkit-progress-value {
    background-color: var(--fg-light);
    border-radius: 1em;
}

/* li[data-progress]::after {
    content: attr(data-progress);
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    background: var(--white) url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1000px' height='20px'><rect fill='red' x='0' y='0' width='100%' height='100%'/></svg>");
    width: 100%;
    height: 0.625rem;
    border-radius: 1em;
    background-repeat: no-repeat;
    background-size: 50% 100%;
} */

/* p {
    text-align: justify;
} */

.photo {
    border-radius: 100%;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: 0 0;
}

@media screen {
    /* styles for buttons */
}

@media print {
    /* styles to expand background to all page */
    body {
        margin: 0;
        min-height: 100%;
    }
}