@import url('https://fonts.googleapis.com/css2?family=Alice&family=Amatic+SC:wght@400;700&family=Caveat:wght@400;700&family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*Неиспользованный:*/
/*font-family: 'Amatic SC', cursive;*/

@font-face {
/*    Local import*/
}

:root {
	--color-white: whitesmoke;
	--size-pc: 1400px;
	--size-tablet: 900px;
	--size-phone: 200px;
}

html {
    font-family: 'Commissioner', sans-serif;
	width: 100%;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
	padding: 0px;
    font-size: 30px;
}

.header {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
    
    text-transform: uppercase;
    
    background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
    
    z-index: 1000;
}

.header > ul {
	padding: 1vh 0;
	margin: 0;
    
	display: flex;
	flex-direction: row;
	justify-content: space-around;
    
    width: 100%;
}

.header ul li {
	list-style-type: none;
    transition: transform 0.2s ease-in-out;
    will-change: transform;
}

.header ul li:hover {
	transform: scale(1.1);
}

.header>h1 {
    padding: 0;
    margin: 0;
    
	height: 30vh;
    width: 90%;

	display: flex;
	align-items: center;
    justify-content: center;
    text-align: center;
}

.headerFixed {
    position: fixed;
    height: 10vh;
    width: 100%;
    top: 0;
    left: 0;
    
    display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

a {
	color: inherit;
	text-decoration: none;
}

.block {
	box-sizing: border-box;
	padding: 10px;
    
	width: 100%;
	margin: 0px;
	
    font-size: 1em;
}

.footer {
    font-family: 'Caveat', cursive;
    font-size: 1.1em;
    
    box-sizing: border-box;
	height: 10vh;
	width: 100%;
	padding: 0 25%;
	margin: 0;
    
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	
    color: var(--color-white);
	background-color: #2C2C2C;
}

.footer>a {
    display: inline-block;
    position: relative;
}

.footer>a::after {
    display: block;
    position: absolute;
    content: "";
    width: 0;
    height: 0.05em;
    left: 50%;
    bottom: 0;
    background: var(--color-white);
    transition: width 0.2s ease-in-out;
}

.footer>a::before {
    display: block;
    position: absolute;
    content: "";
    width: 0;
    height: 0.05em;
    left: 50%;
    bottom: 0;
    background: var(--color-white);
    transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
}

.footer>a:hover::before {
    width: 50%;
    left: 0;
}

.footer>a:hover::after {
    width: 50%;
}

#copyright {
    cursor: default;
}
