@import url('https://fonts.googleapis.com/css2?family=Alice&family=Amatic+SC:wght@400;700&family=Caveat:wght@400;700&family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*Неиспользованный:*/
/*font-family: 'Amatic SC', cursive;*/

@font-face {
/*    Local import*/
}

:root {
	--transition-time: 0.2s ease-in-out;

	--color-white: #f5f5f5;
	--color-black: #1a1a1a;

	--size-laptop-l: 1440px;
	--size-laptop: 1024px;
	--size-tablet: 768px;
	--size-mobile: 425px;
	--size-mobile-s: 320px;
}

html {
    font-family: 'Commissioner', sans-serif;
	width: 100%;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
	padding: 0px;
    font-size: 30px;
}

header {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
    
    text-transform: uppercase;
    
    background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
    
    z-index: 100;
	font-size: 1.1em;
}

header nav {
	display: flex;
	align-items: center;
}

header:not(.headerFixed) nav {
	width: 100%;
}

header ul {
	box-sizing: border-box;
	padding: 1vh 0;
	margin: 0;
    
	display: flex;
	flex-direction: row;
	justify-content: space-around;
    
    width: 100%;
}

header ul li {
	list-style-type: none;
    transition: transform var(--transition-time);
    will-change: transform;
	z-index: 1;
}

header ul li:hover {
	transform: scale(1.1);
}

header h1 {
    padding: 0;
    margin: 0;
    
	height: 30vh;
	max-height: 100%;

	display: flex;
	align-items: center;
    justify-content: center;
    text-align: center;

	z-index: 1;
}

header:not(.headerFixed) h1 {
	width: 90%;
}

.headerFixed {
    position: fixed;
    height: 10vh;
	min-height: 3em;
    width: 100vw;
    top: 0;
    left: 0;
    
    display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

a {
	color: inherit;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}


h2 {
    text-align: center;
}

section {
	box-sizing: border-box;
	background-clip: padding-box;
	padding: 10px;
    
	max-width: 100vw;
	width: 100%;
	margin: 0px;
	
    font-size: 1em;
}

footer {
    font-family: 'Caveat', cursive;
    font-size: 1.1em;
    
    box-sizing: border-box;
	min-height: 10vh;
	width: 100%;
	padding: 0;
	margin: 0;
    
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	
    color: var(--color-white);
	background-color: #2C2C2C;

	text-align: center;
}

footer>* {
	margin: 0.3em 0.8em;
}

footer>a {
    display: inline-block;
    position: relative;
/*	flex-grow: 0.1;*/
}

footer>a::after {
    display: block;
    position: absolute;
    content: "";
    width: 0;
    height: 0.05em;
    left: 50%;
    bottom: 0;
    background: var(--color-white);
    transition: width var(--transition-time);
}

footer>a::before {
    display: block;
    position: absolute;
    content: "";
    width: 0;
    height: 0.05em;
    left: 50%;
    bottom: 0;
    background: var(--color-white);
    transition: width var(--transition-time), left var(--transition-time);
}

footer>a:hover::before {
    width: 50%;
    left: 0;
}

footer>a:hover::after {
    width: 50%;
}

#copyright {
    cursor: default;
}

/*
--size-laptop-l: 1440px;
--size-laptop: 1024px;
--size-tablet: 768px;
--size-mobile: 425px;
--size-mobile-s: 320px;
*/

@media (max-width: 1440px) {
	.headerFixed {
		font-size: 0.8em;
	}
}
@media (max-width: 1024px) {
	header {
		font-size: 0.9em;
	}
	.headerFixed {
		font-size: 0.6em;
	}
}

@media (min-width: 769px) {
	.headerFixed h1 {
		width: 40%;
	}
	
	.headerFixed nav {
		width: 60%;
	}

	.header__burger {
		display: none;
	}
}

@media (max-width: 768px) {
	header h1 {
		width: 100%;
	}

	.header__burger {
		position: absolute;
		top: max(3.5vh, 0.8em);
		right: 0;
		z-index: 2;
	
		margin-right: 20px;
		/* margin-top: -50%; */

		width: 30px;
		height: 20px;
	
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
	}
	
	.header__burger::before,
	.header__burger::after,
	.header__burger span {
		position: absolute;
		width: 100%;
		height: 10%;

		transition: transform, top, left, right, width;
		transition-duration: 0.2s;
		transition-timing-function: linear;
		will-change: transform;
	}
	
	.header__burger span {
		top: 50%;
	}
	
	.header__burger::before,
	.header__burger::after {
		content: '';
	}
	.header__burger::before {
		top: 0;
		left: 0;
	}
	.header__burger::after {
		top: 100%;
		right: 0;
	}

	.header__burger.burger-active::before  {
		top: 25%;
		left: 7%;
		width: 49%;
		transform: rotate(45deg);
	  }
	.header__burger.burger-active span {
		transform: rotate(-45deg);
	}
	.header__burger.burger-active::after  {
		width: 49%;
		right: 6%;
		top: 78%;
		transform: rotate(45deg);
	}

	header nav {	
		background: inherit;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	header nav.burger-active {
		height: 100vh;
	}

	nav ul {
		height: 60%;
		flex-direction: column;
		align-items: center;

		font-size: 1.5em;
	}

	nav ul:not(.burger-active) {
		opacity: 0;
	}
}
@media (max-width: 425px) {
	#copyright {
		font-size: 0.9em;
	}
}
@media (max-width: 320px) {
	footer {
		font-size: 0.6em;
	}
}

@media (min-width: 2000px) {
	body {
		font-size: 40px;
	}
}

@media (min-width: 4000px) {
	body {
		font-size: 60px;
	}
}
