/* @import url('https://fonts.googleapis.com/css2?family=Alice&family=Amatic+SC:wght@400;700&family=Caveat:wght@400;700&family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

/*Неиспользованный:*/
/*font-family: 'Amatic SC', cursive;*/

/*    Local fonts import*/
@font-face {
	font-family: 'Alice';
	src: url('/source/fonts/Alice/Alice-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Caveat';
	src: url('/source/fonts/Caveat/Caveat-Regular.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'Caveat';
	src: url('/source/fonts/Caveat/Caveat-Bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'Commissioner';
	src: url('/source/fonts/Commissioner/Commissioner-VariableFont_wght.ttf') format('truetype');
}


@font-face {
	font-family: 'YouTubeSansDark';
	src: url('/source/fonts/YouTubeSansDark/YouTubeSansDark-Black.ttf') format('truetype');
}

@font-face {
	font-family: 'Alfphabet';
	src: url('/source/fonts/ALFPHABET-IV.TTF') format('truetype');
}

:root {
	--transition-time: 0.2s ease-in-out;

	--color-white: #f5f5f5;
	--color-black: #1a1a1a;

	--size-laptop-l: 1440px;
	--size-laptop: 1024px;
	--size-tablet: 768px;
	--size-mobile: 425px;
	--size-mobile-s: 320px;
}

html {
    font-family: 'Commissioner', sans-serif;
	width: 100%;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	scroll-behavior: smooth;

	font-size: 1.5em;
}

body {
	width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0px;
	padding: 0px;
	overflow-y: overlay;
	overflow-x: hidden;
}

header {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
    
    text-transform: uppercase;
    
    background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
    
    z-index: 100001;
	font-size: 1.1em;
}

header nav {
	display: flex;
	align-items: center;
}

header:not(.headerFixed) nav {
	width: 100%;
}

header ul {
	box-sizing: border-box;
	padding: 1vh 0;
	margin: 0;
    
	display: flex;
	flex-direction: row;
	justify-content: space-around;
    
    width: 100%;
}

header ul li {
	list-style-type: none;
    transition: transform var(--transition-time);
    will-change: transform;
	z-index: 1;
}

header ul li:hover {
	transform: scale(1.1);
}

header h1 {
    padding: 0;
    margin: 0;
    
	height: 30vh;
	max-height: 100%;
    text-align: center;

	z-index: 1;
	position: relative;
}

h1>* {
    height: fit-content;
	width: fit-content;
	position: absolute;
    top: 0;
    bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
}

header:not(.headerFixed) h1 {
	width: 90%;
}

.headerFixed {
    position: fixed;
    height: 10vh;
	min-height: max(3em, 40px);
    width: 100vw;
    top: 0;
    left: 0;
    
    display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

body::before {
	content: '';
	display: inline-block;
	height: 0;
}
.add-empty {
	position: relative;
	--header-height: 10vh;
}
.add-empty::before {
	height: var(--header-height);
}

.popup {
	position: fixed;
	top: 100px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1000000;
	background: white;
	color: black;

	padding: 10px;
	width: fit-content;
	max-width: 90%;
}

.popup:not(.popup_opened) {
	visibility: hidden;
}
.popup_opened {
	visibility: visible;
}
.popup::after {
	position: absolute;
	content: '';
	box-sizing: border-box;
	top: calc(-10px - 0.5em);
	left: 0;
	z-index: -1;

	width: 100%;
	height: calc(100% + 20px + 1em);
	background: white;
}
.popup__back {
	display: block;
	content: '';
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -3;
	width: 100%;
}
.popup__x {
	position: absolute;
	top: calc(-0.5em - 10px);
	right: 0;
	padding: 10px;

	background: transparent;
	font-size: 1em;
	line-height: 0.5em;
}
.popup__x, .popup__back {
	border: none;
	outline: none;
	cursor: pointer;
}
.popup__button {
	margin-right: 10px;
	outline: none;
    border: none;
    cursor: pointer;
    background: var(--color-black);
    color: var(--color-white);
}

[hidden] { display: none }
.overflow-hidden {
	overflow:hidden;
}

a {
	color: inherit;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

.link_uni {
    display: inline-block;
    position: relative;
	transition: color var(--transition-time);
}

.link_uni::after, .link_uni::after {
    display: block;
    position: absolute;
    content: "";
    width: 0;
    height: 0.05em;
    left: 50%;
    bottom: 0;
    background-color: currentColor;
    transition: width var(--transition-time);
}

.link_uni::before, .link_uni::before {
    display: block;
    position: absolute;
    content: "";
    width: 0;
    height: 0.05em;
    left: 50%;
    bottom: 0;
    background-color: currentColor;
    transition: width var(--transition-time), left var(--transition-time);
}

.link_uni:hover::before, .link_uni:hover::before {
    width: 50%;
    left: 0;
}

.link_uni:hover::after, .link_uni:hover::after {
    width: 50%;
}

.link_uni[aria-disabled], .link_uni[href="#/"], .link_uni[aria-disabled]:hover, .link_uni[href="#/"]:hover {
	color: var(--color-black);
	opacity: 0.7;
}

.link_uni[aria-disabled]::after, .link_uni[href="#/"]::after,.link_uni[aria-disabled]::before, .link_uni[href="#/"]::before {
	display: none;
}

h2 {
    text-align: center;
}

section {
	box-sizing: border-box;
	background-clip: padding-box;
	padding: 10px;
    
	max-width: 100vw;
	width: 100%;
	margin: 0px;
	
    font-size: 1em;
}

section {
	/*    Для якорных ссылок: сдвиг на высоту меню.*/
		border-top: 10vh solid transparent;
		margin-top: -10vh;
}


.about {
	display: flex;
	justify-content: center;
/*	align-items: center;*/ /* Мешает правильному вписыванию изображения */
	flex-wrap: wrap-reverse;

	position: relative;
	height: fit-content;
}

.about_text {
	min-width: 30%;
	width: 500px;
	max-width: 100%;
	overflow: hidden;
	margin: 1%;
    padding-bottom: 1em;
	align-self: center;
}

.about p {
    margin-bottom: 0; 
}

.about > img {
    padding: 3% 0;
    margin: 0 1%;
    object-fit: cover;
/*    object-fit: contain;*/
	flex-grow: 0.3;
	max-width: 500px;
	/* max-width: 25em; */
	min-width: 0;
/*	Можно попробовать на ПК привязать sticky*/
}

footer {
    font-family: 'Caveat', cursive;
    font-size: 1.1em;
    
    box-sizing: border-box;
	min-height: 10vh;
	width: 100%;
	padding: 0;
	margin: 0;
    
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	
    color: var(--color-white);
	background-color: #2C2C2C;
	/* box-shadow: 0 0 10px 10px #2C2C2C; */

	text-align: center;
}

footer>* {
	margin: 0.3em 0.8em;
}

footer>a {
    display: inline-block;
    position: relative;
/*	flex-grow: 0.1;*/
}

footer>a::after {
    display: block;
    position: absolute;
    content: "";
    width: 0;
    height: 0.05em;
    left: 50%;
    bottom: 0;
    background: var(--color-white);
    transition: width var(--transition-time);
}

footer>a::before {
    display: block;
    position: absolute;
    content: "";
    width: 0;
    height: 0.05em;
    left: 50%;
    bottom: 0;
    background: var(--color-white);
    transition: width var(--transition-time), left var(--transition-time);
}

footer>a:hover::before {
    width: 50%;
    left: 0;
}

footer>a:hover::after {
    width: 50%;
}

#copyright {
    cursor: default;
}

/*
--size-laptop-l: 1440px;
--size-laptop: 1024px;
--size-tablet: 768px;
--size-mobile: 425px;
--size-mobile-s: 320px;
*/

@media (max-width: 1440px) {
	.headerFixed {
		font-size: 0.8em;
	}
}
@media (max-width: 1024px) {
	header {
		font-size: 0.9em;
	}
	.headerFixed {
		font-size: 0.6em;
	}
}

@media (min-width: 769px) {
	.headerFixed h1 {
		width: 40%;
	}
	
	.headerFixed nav {
		width: 60%;
	}

	.header__burger {
		display: none;
	}
}

@media (max-width: 768px) {
	header h1 {
		width: calc(100% - 150px);
		margin: auto;
	}

	.header__burger {
		position: absolute;
		top: max(3.5vh, 0.8em);
		right: 0;
		z-index: 2;
	
		margin-right: 30px;
		/* margin-top: -50%; */

		width: 30px;
		height: 20px;
	
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
	}
	
	.header__burger::before,
	.header__burger::after,
	.header__burger span {
		position: absolute;
		width: 100%;
		height: 10%;

		transition: transform, top, left, right, width;
		transition-duration: 0.2s;
		transition-timing-function: linear;
		will-change: transform;
	}
	
	.header__burger span {
		top: 50%;
	}
	
	.header__burger::before,
	.header__burger::after {
		content: '';
	}
	.header__burger::before {
		top: 0;
		left: 0;
	}
	.header__burger::after {
		top: 100%;
		right: 0;
	}

	.header__burger.burger-active::before  {
		top: 25%;
		left: 7%;
		width: 49%;
		transform: rotate(45deg);
	  }
	.header__burger.burger-active span {
		transform: rotate(-45deg);
	}
	.header__burger.burger-active::after  {
		width: 49%;
		right: 6%;
		top: 78%;
		transform: rotate(45deg);
	}

	header nav {	
		background: inherit;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		transition: height var(--transition-time);
	}

	header nav.burger-active {
		height: 100vh;
	}

	nav ul {
		height: 60%;
		flex-direction: column;
		align-items: center;

		font-size: 1.5em;
		transition: opacity var(--transition-time);
	}

	nav ul:not(.burger-active) {
		opacity: 0;
	}

	body.burger-active {
		overflow: hidden;
	}

}
@media (max-width: 425px) {
	html {
		font-size: 1em;
	}
	#copyright {
		font-size: 0.9em;
	}
}
@media (max-width: 320px) {
	footer {
		font-size: 0.8em;
	}
}

@media (max-width: 220px), (max-height: 400px) and (max-width: 320px) {
	h1 {
		display: none;
	}
}

@media (min-width: 2000px) {
	body {
		font-size: 2em;
	}
}

@media (min-width: 4000px) {
	body {
		font-size: 3em;
	}
}
