header {
	color: var(--color-black);
    text-shadow: 0 0 2em var(--color-white), 0 0 0.03em var(--color-black);

    background: black;
	background: radial-gradient(circle, rgba(230,247,255,1) 0%, rgba(208,240,255,1) 80%, rgba(178,230,255,1) 100%);
}

header>h1 {
    font-family: 'Alice', sans-serif;
    font-family: 'Commissioner', sans-serif;
	font-size: 1.9em;
}

.headerFixed>h1 {
    font-size: 1.2em;
}

section {
	color: var(--color-white);
	background-color: var(--color-black);
}

table {
	margin: auto;
	border-collapse: collapse;
}

th, td {
	border: 1px solid var(--color-white);
	text-align: center;
	padding: 0.2em 0.4em;
}

#videos>.container {
	display: flex;
	justify-content: space-around;
	align-content: center;
	flex-wrap: wrap;
}

#videos iframe {
	flex: 0.1 1 auto;
	width: 640px;
	margin: 10px;
	max-width: 100%;
}
