:root {
  --text_height: 300px;
}

.header {
/*    font-size: 1.2em;*/
	color: white;
    text-shadow: white 0 0 2em;
    text-shadow: 0 0 2em white, 0 0 0.03em black;
    
/*    background: orange linear-gradient(#FA9026, #FFFFFF);*/
    background: orange radial-gradient(circle, #F9A72B 0%, #FA9026 70%, #FB6C1F 100%);
}

h1 {
    padding: 0;
    margin: 0;
    
	height: 30vh;
    width: 90%;

	display: flex;
	align-items: center;
    justify-content: center;
    text-align: center;
    
    font-family: 'Alice', serif;
}

.block {
	box-sizing: border-box;
	padding: 10px;
    
	width: 100%;
	margin: 0px;
	
    font-size: 1em;
    
    color: black;
    background-color: white;
}

#about {
	display: flex;
	flex-direction: row;
	justify-content: center;
/*	align-items: center;*/
	
	background-color: whitesmoke;
}

#about > div {
	text-align: end;
	width: 30%;
	overflow: hidden;
	margin: 1%;
    
    display: flex;
	flex-direction: column;
	justify-content: center;
}	

#about > img {
    padding: 3% 0;
    margin: 0 1%;
/*	float: right;*/
/*    overflow: hidden;*/
/*    object-fit: contain;*/
    object-fit: cover;
}

#contacts div {
/*    Для нормальной работы */
/*    display: inline-block;*/
    
    word-wrap: break-word;
    column-count: 3;
    column-width: 300px;
    column-gap: normal;
    column-rule: 1px solid #ccc;
}

form {
	/*	display: none;*/
	
	display: flex;
	flex-direction: column;
/*	justify-content: space-between;*/
	align-items: center;
}

fieldset {
	width: 30%;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

fieldset > div {
	height: 25%;
    width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
/*	margin: 10px;*/
}

input[type="submit"] {
    transition: transform 1s ease-in;
}

input[type="submit"]:hover {
    transform: rotateX(360deg);
}

input[type="reset"]:hover {
    animation: inputteam 1s 1 linear;
}

@keyframes inputteam {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, 20px, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

textarea {
	resize: none;
	width: auto;
}

textarea:focus {
    animation: inputteam2 1.1s infinite ease;
}

@keyframes inputteam2 {
    0% {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(1.01, 1.01, 2);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}