:root {
  --text_height: 300px;
}

.header {
/*    font-size: 2rem;*/
	color: white;
    text-shadow: white 0 0 2em;
    text-shadow: 0 0 2em white, 0 0 0.03em black;
    
    background: orange radial-gradient(circle, #F9A72B 0%, #FA9026 70%, #FB6C1F 100%);
}

h1 {
    padding: 0;
    margin: 0;
    
	height: 30vh;
    width: 90%;

	display: flex;
	align-items: center;
    justify-content: center;
    text-align: center;
    
    font-family: 'Alice', serif;
}

.block {
	box-sizing: border-box;
	padding: 10px;
    
	width: 100%;
	margin: 0px;
	
    font-size: 1em;
    
    color: black;
    background-color: white;
}

#about {
	display: flex;
	flex-direction: row;
	justify-content: center;
/*	align-items: center;*/
	
	background-color: whitesmoke;
}

#about > div {
	text-align: end;
	width: 30%;
	overflow: hidden;
	margin: 1%;
    
    display: flex;
	flex-direction: column;
	justify-content: center;
}	

#about > img {
    padding: 3% 0;
    margin: 0 1%;
/*	float: right;*/
/*    overflow: hidden;*/
/*    object-fit: contain;*/
    object-fit: cover;
}

form {
	/*	display: none;*/
	
	display: flex;
	flex-direction: column;
/*	justify-content: space-between;*/
	align-items: center;
}

fieldset {
	width: 30%;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

fieldset > div {
	height: 25%;
    width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
/*	margin: 10px;*/
}

textarea {
	resize: none;
	width: auto;
}