.header {
    font-size: 1.1em;
	color: white;
    text-shadow: 0 0 2em white, 0 0 0.03em black;
    
/*    background: orange linear-gradient(#FA9026, #FFFFFF);*/
    background: orange radial-gradient(circle, #F9A72B 0%, #FA9026 70%, #FB6C1F 100%);
}

.header>h1 {
    font-family: 'Alice', serif;
}


.headerFixed>h1 {
    font-size: 1.3em;
    width: 40% !important;
}

.headerFixed ul {
    width: 60% !important;
}

.block {
/*    Для якорных ссылок: сдвиг на высоту меню.*/
    border-top: 10vh solid transparent;
    margin-top: -10vh;
    background-clip: padding-box;
    
    color: black;
    background-color: white;
}

#about {
	display: flex;
	flex-direction: row;
	justify-content: center;
/*	align-items: center;*/
	
	background-color: var(--color-white);
}

#about > div {
	text-align: end;
	width: 30%;
	overflow: hidden;
	margin: 1%;
    padding-bottom: 1em;
    
    display: flex;
	flex-direction: column;
	justify-content: center;
}	

#about p {
    margin-bottom: 0; 
}

#about > img {
    padding: 3% 0;
    margin: 0 1%;
/*	float: right;*/
/*    overflow: hidden;*/
/*    object-fit: contain;*/
    object-fit: cover;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
}

#contacts table {
    margin: auto;
    border-collapse: collapse;
}

#contacts td:first-child {
    text-align: end;
}

#contacts td:first-child::after {
    content: "-";
    margin: 0 0.5em;
}

#contacts a, #cv a {
    color: blue;
    display: inline-block;
    position: relative;
	transition: color 0.2s ease-in-out;
}

#contacts a::after, #cv a::after {
    display: block;
    position: absolute;
    content: "";
    width: 0;
    height: 0.05em;
    left: 50%;
    bottom: 0;
    background-color: currentColor;
    transition: width 0.2s ease-in-out;
}

#contacts a::before, #cv a::before {
    display: block;
    position: absolute;
    content: "";
    width: 0;
    height: 0.05em;
    left: 50%;
    bottom: 0;
    background-color: currentColor;
    transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
}

#contacts a:hover, #cv a:hover, #contacts a:active, #cv a:active {
	color: darkblue;
}

#contacts a:hover::before, #cv a:hover::before {
    width: 50%;
    left: 0;
}

#contacts a:hover::after, #cv a:hover::after {
    width: 50%;
}

#cv ul {
	list-style: none;
	padding: 0;
	width: fit-content;
	margin: auto;
}

#cv li {
	position: relative;
	line-height: 1.5em;
}

#cv li::before {
	content: "";
	width: 1em;
	height: 1.25em;
	margin-right: 0.3em;
	position: relative;
	display: inline-block;
	background: url('/source/img/file.svg') no-repeat;
	background-size: 100% auto;
	background-position: bottom;
	vertical-align: top;
}

#cv li::after {
	display: inline;
	content: attr(data-cv-lang);
	font-size: 0.5em;
	vertical-align: text-top;
	color: var(--color-white);
	background-color: lightslategray;
	margin-left: 0.3em;
	padding: 0.2em;
	border-radius: 0.3em;
}
