
@media screen and (min-width: 640px) {
   .contacts {
        width: 50%;
        margin: 7% auto 11%;
    } 
}

@media screen and (max-width: 640px) {
    .contacts {
        width: 80%;
        margin: 10% 0 10% 10%;
    }
}

.servant-1 > p, .servant-2 > p {
    margin: 0.6em;
    display: block;
    word-wrap: break-word;
}
.servant-2 {
    margin-top: 2em;
}

p > a {
    color: darkviolet
}