@font-face {
    font-family: "Montserrat";
    src: url("../fonts/MontserratAlternates-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/MontserratAlternates-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: "Montserrat";
    background: url(../img/usable/backgroundV2.jpg) no-repeat;
    /*
background: rgb(154,255,200);
background: -moz-radial-gradient(top, rgba(154,255,200,1) 0%, rgba(227,255,218,1) 28%, rgba(234,255,226,1) 65%, rgba(186,206,227,1) 100%);
background: -webkit-radial-gradient(top, rgba(154,255,200,1) 0%, rgba(227,255,218,1) 28%, rgba(234,255,226,1) 65%, rgba(186,206,227,1) 100%);
background: radial-gradient(at top, rgba(154,255,200,1) 0%, rgba(227,255,218,1) 28%, rgba(234,255,226,1) 65%, rgba(186,206,227,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9affc8",endColorstr="#bacee3",GradientType=1);*/
}

/*body {

    margin: 0;



}*/

a {
    text-decoration: none;
    color: inherit;
}

.side-nav {
    margin: -1% 0 0 100%;
    position: fixed;
    height: 100vh;
    width: 70vw;
    background-color: #fff;
    transition: 0.5s ease-in-out;

}

.side-nav-toggle {
    margin-left: 30%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-left,
.header-right {
    display: flex;
}

.nav-options {
    font-size: 1.3em;
    text-transform: uppercase;
    color: black;
}

.nav-options:hover {
    transform: scale(1.2);
    cursor: pointer;
    font-weight: bold;
    color: #4c2bdd;
}

.nav-options:active {
    color: #9734ff;
}

.side-options {
    margin-top: 50%
}

.side-options > h4 {
    margin: 15% 0;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
}

.side-options > h4:hover {
    transform: scale(1.2);
    cursor: pointer;
    font-weight: bold;
    color: #4c2bdd;
}

.side-options > h4:active {
    color: #9734ff;   
}



#logo {
    width: 12em;
}

.burger-line {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
}

hr {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    border: 0;
    width: 100%;
    height: 10px;
    /*    background-image: radial-gradient(circle, #9734ff, #a4e6ff);*/
    /*    background-image: radial-gradient(circle, #4f179c, #f7f8f0);*/
    background-image: radial-gradient(circle, #4f179c, rgb(0, 0, 0, 0) 90%);
}

.about {
    display: flex;
    margin-top: 2em;
    flex-direction: row;
}

.about-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
}

.about-end {
    font-size: 1.5em;
}

.broadcast {
    font-size: 1.6em;
    margin-bottom: 1%;
}

.broadcast-placeholder {
    display: flex;
    justify-content: center;
}

.broadcast-placeholder > p {
    text-align: center;
    font-style: italic;
}

.broadcast-title {
    text-align: center;
}

.broadcast-wrapper {
    display: none;
}

.broadcast-left > iframe {
    width: 100%;
    height: 16em;
}

.indicator {
    display: flex;
    flex-direction: row;
    -ms-align-items: center;
    align-items: center;
}

#indicator {
    animation: indicator_motion 1.5s linear infinite;
}

@keyframes indicator_motion {
    0% { opacity: 0; }
  50% { opacity: 0; }
  51% { opacity: 1; }
  100% { opacity: 1; }
}

.indicator > h4 {
    margin: 0 0 0 1em;
}

.blue-link {
    color: blue;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
}

.blue-link:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: #ffd834;
    text-shadow: black 0px 0px 5px;
}

.golden-link {
    color: #ffd834;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
    text-shadow: black 0px 0px 5px;
}

.footer-fix {
    display: flex;
    flex-direction: row;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}

.footer-left > p,
.footer-right > p {
    margin: 0;
}

.footer-right > img {
    width: 13em;
}

.scale_body {
    background-color: #e3e3e3;
    width: 80%;
    height: 1em;
    display: flex;
    align-items: center;
    border-radius: 2em;
    margin: 0 5%;
}

.scale {
/*    background-color: #ffd834;*/
/*    background-image: linear-gradient(to left, #ffd834, #ffaf34);*/
    background-image: linear-gradient(to left, #ffd834, #ffc334);
    height: inherit;
    border-radius: inherit;
}


.close {
  position: relative;
  right: -75%;
  top: 1em;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}


@media screen and (min-width: 1680px) {
    body {
        font-size: 16px;
        font-family: "Montserrat";
    }

}

@media screen and (max-width: 1680px) and (min-width: 1520px) {
    body {
        font-size: 14px;
        font-family: "Montserrat";
    }
}

@media screen and (max-width: 1520px) and (min-width: 1280px) {
    body {
        font-size: 12px;
        font-family: "Montserrat";
    }
}

@media screen and (max-width: 1280px) {
    body {
        font-size: 12px;
        font-family: "Montserrat";
    }
}

@media screen and (min-width: 1025px) {

    .header-left-margin {
        margin-left: 25%;
    }

    .header-margin {
        margin: 1.5em 0;
    }

    .nav-options-margin {
        margin: 0 15%;
    }

    .about-right {
        margin-right: 10em;
    }

    .about-text-margin {
        margin-left: 40%;
        width: 60%;
    }

    .about-title-pos,
    .about-end-pos {
        text-align: end;
    }

    .about-text {
        text-align: end;
        font-size: 1.2em;
    }

    .broadcast-wrapper-direct {
        flex-direction: row;
    }

    .broadcast-right {
        width: 40%;
        margin-left: 2em;
    }
    
    .broadcast-left {
        width: 60%;
    }
    
    .broadcast-wrapper-margin {
        margin: 0 10%;
    }
    
    .footer-left-margin {
        margin-right: 30%;
    }
}

@media screen and (min-width: 1280px){
    .about-right > img {
        width: 50em;
        height: 32em;
    }
}

@media screen and (max-width: 1280px) and (min-width: 1025px){
    .about-right > img {
        width: 30em;
        height: 20em;
        margin-top: 20%;
    }
}

@media screen and (min-width: 640px) {
    .regular-nav {
        display: flex;
    }
    
    .alternative-nav {
        display: none;
        width: 0;
        height: 0;
    }

    .header-right-margin {
        margin-left: 5%;
        flex-direction: row;
    }
}

@media screen and (max-width: 640px) {
    .regular-nav {
        display: none;
        width: 0;
        height: 0;
    }
    
}

@media screen and (max-width: 640px) and (min-width: 320px) {
    .header-right-margin {
        margin-left: 30%;
    }
}

@media screen and (max-width: 321px) {
    .header-right-margin {
        margin-left: 15%;
    }
}

@media screen and (max-width: 1025px) {

    .header-margin {
        margin: 1% 0;
    }
    
    .header-left-margin {
        margin-left: 10%;
    }

    .nav-options-margin {
        margin: 5%;
    }

    .about-right > img {
        width: 0;
        height: 0;
    }

    .about-text {
        margin: 1em 10%;
        font-size: 1.2em;
    }

    .about-title-pos,
    .about-end-pos {
        text-align: center
    }
    
    .broadcast-wrapper-direct {
        flex-direction: column;
    }
    
    .broadcast-right {
        margin: 0 5%;
    }
    
    .footer-left-margin {
        margin-right: 3%;
    }
    
    .footer-right-margin {
        margin-left: 3%;
    }
}
