body {
	background-color: var(--color-black);
}

::selection {
	color: var(--color-black);
	background-color: var(--color-white);
}

header {
	color: var(--color-black);
    text-shadow: 0 0 2em var(--color-white), 0 0 0.03em var(--color-black);

    background: white;
	background: radial-gradient(circle, rgba(230,247,255,1) 0%, rgba(208,240,255,1) 80%, rgba(178,230,255,1) 100%);
}

header>h1 {
    font-family: 'Commissioner', sans-serif;
	font-size: 1.95em;
}

.headerFixed h1 {
    font-size: 1.2em;
}

.header__burger::before,
.header__burger::after,
.header__burger span {
	background-color: var(--color-black);
}

section {
	padding-left: 5%;
	padding-right: 5%;

	color: var(--color-white);
	background-color: var(--color-black);
}

.about {
	flex-direction: row-reverse;
}

.link_uni {
    color: rgb(0, 185, 255);
}

.link_uni:hover, .link_uni:hover, .link_uni:active, .link_uni:active {
	color: rgb(83, 209, 255);
}

#facets {
	text-align: center;
	font-size: 3.5vw;
	position: relative;
	margin: -1px 0;
	padding: 2em;
}

#facets::before {
	content: '';
	position: absolute;
	top: 1em;
	left: 10%;
	right: 10%;
	height: calc(100% - 4em);
	padding: 1em;
	border: 3px var(--color-white) dashed;
	border-radius: 15px;
}

/* #typewriter::after {
	content: '|';
	animation: cursor 1s infinite;
}

@keyframes cursor {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
} */

table {
	margin: auto;
	border-collapse: collapse;
}

th, td {
	border: 1px solid var(--color-white);
	text-align: center;
	padding: 0.2em 0.4em;
}

.levels_prog {
	width: 25vw;
	position: sticky;
	top: 15vh;
	float: right;
}

.levels_prog h3 {
	text-align: center;
}

#videos p {
	text-align: center;
}


#videos>.container {
	display: flex;
	justify-content: space-around;
	align-content: center;
	flex-wrap: wrap;
}

#videos iframe {
	flex: 0.1 1 auto;
	width: 640px;
	margin: 10px;
	max-width: 100%;
}


@media (max-width: 768px) {
	.levels_prog {
		display: none;
	}
}